*{
    margin: 0px;
    padding: 0px;
}
.container{
    border: 1px dashed red;
    display: grid;
}
.page-section{
    border: 1px dashed blue;
    height: 100vh;
}
.home-section{
    background-color: #0061ff;
    background-image: linear-gradient(150deg, transparent, #00e2ff);
}